.page{
    width: 100dvw;
    height: 100dvh;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.navigation{
    width: 100dvw;
    height: 10dvh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.cursor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48dvh;
    height: 10dvh;
    background-color: white;
    font-size: 55px;
    background-image: url("cursor_image");
}

.panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90dvh;
    height: 10dvh;
    background-color: white;
    font-size: 30px;
    gap: 1;
}

.sign_in{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 37dvh;
    height: 10dvh;
    background-color: white;
    font-size: 20px;
    
}

a{
    color: grey;
    text-decoration: none;
}

.sign{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    color: black;   
    background-color: white;
    width: 10dvh;
    height: 6dvh;  
    border-radius: 10%;
    gap: 3dvh;
    
}

.sign-b{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    color: black;   
    background-color: white;
    width: 10dvh;
    height: 6dvh;  
    border-radius: 10%;
}

.download{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: black;
    color: white;
    width: 15dvh;
    height: 6dvh;
    border-radius: 5%;
    gap: 3dvh;
    /*
    background-image: url("windows_logo.png");
    background-size: 10dvh;
    background-repeat: no-repeat;
    background-position: left; */
}

.download-b{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: black;
    color: white;
    width: 15dvh;
    height: 6dvh;
    border-radius: 5%;
}
.in{
    color: black;
}

.down{
    color: white;
}

.gap{
    gap: 5rem;
}

.justify-end{
    justify-content: flex-end;
}

.pricing{
    display: flex;
    justify-content: start;
    align-items: center;    
}

.title-pricing{
    display: flex;
    justify-content: center;
    align-items: center;  
    color: black;
}